<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">

<!--zazu base file TYPO3 12.4.9-->
<div class="confirmation wrapper center clearfix">
    <div id="{form.identifier}">
        <article>
            <f:if condition="{isPreparedMessage}">
                <f:then>
                    {message -> f:format.raw()}
                </f:then>
                <f:else>
                    {message -> f:format.nl2br()}
                </f:else>
            </f:if>
        </article>
    </div>
</div>

</html>