<f:layout name="Default" />
<f:section name="Main">

    <f:comment>In this case default and two-column is the same template, it is just for the BE-layout. 2nd column is rendered inside extension news!</f:comment>

    <!--Main Content-->
    <main>
            <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}" />
    </main>

    <!--bottom Nav Rootline-->
    <nav class="bottomNav clearfix">
        <div class="wrapper">
            <div id="rootlineNav">
                <f:if condition="{menuBreadcrumb}">
                    <p>
                        <f:translate key="LLL:EXT:xzzxpackage/Resources/Private/Language/locallang_fe.xlf:templates.page.default.breadcrumb" />
                    </p>
                    <ul class="menuBreadcrumb">
                        <f:for each="{menuBreadcrumb}" as="breadItem">
                            <f:render partial="Navigation/BreadcrumbItem" arguments="{breadItem: breadItem}" />
                        </f:for>
                    </ul>
                </f:if>
            </div>

        </div><!-- END center DIV -->
    </nav>

    <!--Footer-->
    <footer id="mainFooter" class="wrapper clearfix">
        <h2 class="visuallyhidden">This is the Headline of the footer but will not be shown.</h2>
        <div class="center">
            <!--Footer left-->
            <div class="footerLeft">
                <div class="footerLeftBottom">
                    <address class="addressOne">
                        <figure class="footerLogoContainer">
                            <a href="index.php?id=1" title="Hier kommen Sie zur Startseite.">
                                <svg class="footerLogo" Version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px"
                                    width="309px" height="41px" viewBox="0 0 309 41" overflow="visible"
                                    enable-background="new -0.1 243.1 309 41" xml:space="preserve">
                                    <defs>
                                    </defs>
                                    <path fill="#95DE11"
                                        d="M0.8,8.5h18.1L0,30.3v7.9h31v-7.5H11.8L30.4,8.9v-8H0.8V8.5z" />
                                    <path fill="#95DE11" fill-opacity="0.9412"
                                        d="M40.5,11.2c3.3-2.5,7.4-4.1,11.5-4.1c5.7,0,8.4,2,8.4,8H55c-4.1,0-8.8,0.4-12.5,2.2
                                   c-3.7,1.8-6.4,5.1-6.4,10.7c0,7.1,6.4,11.1,13,11.1c4.4,0,9.3-2.3,11.5-6.4h0.1c0.1,1.2,0.1,3.6,0.4,5.6h8.6
                                   c-0.2-2.9-0.4-5.5-0.4-8.3c-0.1-2.8-0.1-5.6-0.1-9.3v-4.8c0-11-4.7-15.7-16.1-15.7c-4.1,0-9.2,1.1-13,2.8L40.5,11.2z M45.4,27.4
                                   c0-5.7,6.4-6.4,10.8-6.4h4.2c0,2.9-0.4,5.6-2,7.7c-1.5,2-3.8,3.3-6.8,3.3C48.1,32,45.4,30.6,45.4,27.4L45.4,27.4z" />
                                    <path fill="#95DE11"
                                        d="M77.2,8.5h18.1l-6.1,7L76.4,30.3v7.9h31v-7.5H88.3l18.6-21.8v-8H77.2V8.5z" />
                                    <path fill="#95DE11" d="M149.3,0.9h-9.7v18.3c0,4.8-1.5,12.4-8.6,12.4c-6.2,0-6.3-6.2-6.3-10.7V0.9h-9.7v23.6
                                   c0,8.4,3.8,14.6,12.7,14.6c5.1,0,9.3-2.3,12.2-5.9h0.1v5.1h9.2V0.9z" />
                                    <path fill="#95DE11" d="M158.3,38.2h10.1V28.1h-10.1V38.2z" />
                                    <path fill="#2F383C" d="M183,25.2c0-3.7,1.7-8.4,6.2-8.4c4.5,0,5.7,4.9,5.7,8.4c0,3.6-1.3,8.6-5.8,8.6C184.5,33.8,183,29,183,25.2z
                                    M176.1,38.5h6.7v-3.2h0.1c2,2.8,5.2,3.8,8.1,3.8c8.1,0,11.1-6.7,11.1-13.9c0-7.3-3-13.8-11.1-13.8c-3.6,0-6,1.5-7.9,4H183V0h-6.9
                                   V38.5z" />
                                    <path fill="#2F383C"
                                        d="M212.4,22.7c0.3-3.5,2.3-6.2,6.1-6.2c3.9,0,5.4,2.9,5.6,6.2H212.4z M228.7,31.4c-2.6,1.4-5.4,2.7-8.8,2.7
                                   c-4.3,0-7.2-2.4-7.5-6.7h18.3c0-9.2-2.8-16-12.6-16c-8.2,0-12.3,6.3-12.3,14c0,8.7,5.1,13.7,13.8,13.7c3.7,0,6.6-0.7,9.1-2.1V31.4z" />
                                    <path fill="#2F383C" d="M236.2,38.5h6.9v-9.7c0-3.8,0-10.8,5.6-10.8c1.2,0,2.5,0.2,3.1,0.6v-6.9c-0.7-0.2-1.4-0.2-2.1-0.2
                                   c-4.1,0-6.9,4.2-7.2,6.6h-0.1v-6h-6.1V38.5z" />
                                    <path fill="#2F383C" d="M256.2,38.5h6.9V0h-6.9V38.5z" />
                                    <path fill="#2F383C"
                                        d="M270.4,38.5h6.9V12.1h-6.9V38.5z M270.4,7.2h6.9V0.7h-6.9V7.2z" />
                                    <path fill="#2F383C" d="M284.5,38.5h6.9V25.6c0-3.4,1.1-8.8,6.1-8.8c4.4,0,4.5,4.4,4.5,7.6v14.1h6.9V21.8c0-6-2.7-10.4-9-10.4
                                   c-3.6,0-6.5,1.2-8.7,4.2H291v-3.6h-6.5V38.5z" />
                                </svg>
                            </a>
                        </figure>
                        <p>
                            FILM+DIGITAL<br>
                            Bayerische Straße 27<br>
                            10707 Berlin<br>
                            <a class="telefonlink" href="tel:+49 30 785 9279">T: +49 30 785 9279</a><br>
                            <a href="mailto:info@zazu.berlin">info@zazu.berlin</a><br>
                            <a href="http://www.zazu.berlin" title="Sie sind schon auf der Seite von zazu.berlin"
                                target="_top">Web: zazu.berlin</a>
                        </p>
                    </address>
                    <address class="addressTwo">
                        <figure class="footerLogoContainer">
                            <a href="index.php?id=1" title="Hier kommen Sie zur Startseite.">
                                <svg class="footerLogo" version="1.1" viewBox="0 0 585 64"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g transform="translate(0,-36)">
                                        <g fill="#2f383c">
                                            <path
                                                d="m296.92 99.043h12.733l9.1542-32.705h0.16644l9.3206 32.705h13.149l13.149-42.858h-10.652l-8.9045 31.707h-0.16644l-9.3206-31.707h-12.982l-8.6548 31.707h-0.16644l-9.487-31.707h-11.817z" />
                                            <path
                                                d="m361.47 99.043h11.151v-42.858h-11.151zm0-50.681h11.151v-10.652h-11.151z" />
                                            <path
                                                d="m384.3 99.043h11.151v-20.971c0-5.4925 1.7476-14.231 9.8199-14.231 7.1569 0 7.2401 7.0737 7.2401 12.317v22.885h11.151v-27.046c0-9.6535-4.4106-16.81-14.563-16.81-5.8254 0-10.569 1.9141-14.064 6.824h-0.16644v-5.8254h-10.569z" />
                                            <path
                                                d="m433.35 64.839h20.805l-21.72 25.132v9.071h35.618v-8.6549h-22.053l21.304-25.049v-9.1542h-33.954z" />
                                            <path
                                                d="m484.69 73.411c0.49932-5.7422 3.6617-10.07 9.9032-10.07s8.7381 4.6603 9.071 10.07zm26.464 14.147c-4.161 2.3302-8.8213 4.3274-14.231 4.3274-6.9072 0-11.734-3.9113-12.233-10.819h29.626c0-14.98-4.4939-25.881-20.389-25.881-13.315 0-19.89 10.236-19.89 22.636 0 14.064 8.2388 22.22 22.386 22.22 5.9918 0 10.652-1.1651 14.73-3.412z" />
                                            <path d="m523.36 99.043h11.151v-62.415h-11.151z" />
                                            <path
                                                d="m546.19 99.043h11.151v-20.971c0-5.4925 1.7476-14.231 9.8199-14.231 7.1569 0 7.2401 7.0737 7.2401 12.317v22.885h11.151v-27.046c0-9.6535-4.4106-16.81-14.563-16.81-5.8254 0-10.569 1.9141-14.064 6.824h-0.16644v-5.8254h-10.569z" />
                                        </g>
                                        <path
                                            d="m1.2989 50.053h29.52l-30.818 35.66v12.871h50.538v-12.28h-31.291l30.228-35.542v-12.989h-48.176z"
                                            fill="#95de11" />
                                        <path
                                            d="m66.124 54.54c5.3136-4.0147 12.045-6.6124 18.775-6.6124 9.3285 0 13.697 3.3062 13.697 13.107h-8.7373c-6.6124 0-14.406 0.59039-20.428 3.5424-6.0211 2.952-10.391 8.2655-10.391 17.358 0 11.572 10.509 18.066 21.254 18.066 7.2023 0 15.115-3.7785 18.775-10.509h0.23624c0.11751 1.8893 0.11751 5.9039 0.70872 9.092h13.933c-0.35498-4.7231-0.59122-8.974-0.70873-13.579-0.11873-4.487-0.23624-9.092-0.23624-15.232v-7.7932c0-17.948-7.6748-25.623-26.213-25.623-6.7311 0-14.996 1.7712-21.137 4.6051zm8.0298 26.45c0-9.3282 10.509-10.509 17.593-10.509h6.8486c0 4.7231-0.70873 9.092-3.3062 12.516-2.4799 3.3062-6.2574 5.4316-11.1 5.4316-5.6674 0-10.036-2.2435-10.036-7.4389z"
                                            fill="#95de11" fill-opacity=".94118" />
                                        <path
                                            d="m126.07 50.053h29.519l-9.883 11.435-20.935 24.225v12.871h50.538v-12.28h-31.291l30.228-35.542v-12.989h-48.176z"
                                            fill="#95de11" />
                                        <path
                                            d="m243.55 37.773h-15.823v29.756c0 7.7932-2.4799 20.191-13.933 20.191-10.155 0-10.272-10.037-10.272-17.476v-32.472h-15.822v38.376c0 13.697 6.2574 23.852 20.663 23.852 8.266 0 15.113-3.7785 19.956-9.6824h0.23502v8.2655h14.997z"
                                            fill="#95de11" />
                                        <path d="m259.89 98.583h16.531v-16.531h-16.531z" fill="#95de11" />
                                    </g>
                                </svg>
                            </a>
                        </figure>
                        <p>
                            DRUCK+DESIGN<br>
                            Ob der Au 22<br>
                            78737 Fluorn-Winzeln<br>
                            <a class="telefonlink" href="tel:+49 7402 91116">T: +49 7402 91116</a><br>
                            <a href="mailto:info@zazudesign.de">info@zazudesign.de</a></br />
                            <a href="https://www.zazudesign.de" title="Hier kommen Sie zur Seite von zazu.winzeln"
                                target="_blank">www.zazudesign.de</a>
                        </p>
                    </address>
                </div>
            </div>
            <!--Footer center-->
            <div class="footerCenter">
                <svg id="germanyMap" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="595px"
                    height="842px" viewBox="43.299 -3.684 595 842" overflow="visible"
                    enable-background="new 43.299 -3.684 595 842" xml:space="preserve">

                    <path id="path3389_1_" inkscape:connector-curvature="0"
                        sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" fill="none"
                        stroke="#000000" stroke-width="3" d="
	M250.606,79.377c-3.67-3.95-27.819-34.745-12.777-47.662c9.388-8.062,105.369,10.708,65.993,46.331
	c12.039-3.818,18.174,0.269,18.407,12.259c-0.288,7.186,50.958-19.669,56.305-20.218c17.369,2.149-19.738,48.073-19.735,54.805
	c0.006,14.443,96.138-35.881,103.038-39.368c16.35-11.763,4.241,1.318,16.564,3.764c2.66-1.276,12.758-7.901,18.474-9.152
	c5.379-7.225-10.385-17.253,4.475-23.251c13.55-13.136,30.078,25.346,29.964,28.385c-0.27,7.185-33.377,14.242-18.84,15.029
	c-0.397-2.463,104.088,36.338,33.16,37.635c29.428,6.203,10.743,85.519,37.023,109.874c10.899,10.1,18.438,53.423,18.148,68.769
	c-11.293,31.339,18.732,42.864,21.623,69.562c1.267,11.696-0.062,53.622-23.6,39.684c5.907-21.843-35.937-18.253-15.446-2.689
	c-19.978,8.284-136.946,63.629-136.619,65.711c-2.538,12.03,1.827,21.471,13.096,28.321c24.986,21.999-2.689,25.959,18.048,52.841
	c18.656,24.184,83.526,45.083,84.142,79.229c0.271,15.003-45.621,44.525-62.37,55.385c-11.838,5.155,32.394,69.947,5.214,65.583
	c-18.987-3.049-11.206-30.565-53.461-20.298c-17.37-1.143-28.281,8.6-35.198,11.654c-23.018,10.162-20.344,26.58-51.013,8.165
	c-40.236-24.159-17.659,11.538-34.539,20.844c1.754,6.444-120.121-57.056-123.008-28.665
	c-104.327-9.656-31.381-68.989-12.307-138.992c-12.863-1.807-72.55-14.624-79.632-19.665c-25.213-17.95-31.663-23.679-31.437-59.416
	c-2.386-11.867-7.338-22.562-14.855-32.087c5.108-15.621,19.048-54.421,3.307-70.167c-30.811-30.82,21.721-66.611-2.949-107.859
	c17.874-5.879,59.444,3.031,42.176-30.879c45.287,6.512,1.236-42.931,5.724-46.883c29.071-25.603,29.326-50.175,21.741-87.773
	c3.388-18.688,31.958-16.604,44.466-14.876c27.893,3.854,9.154,30.081,17.39,26.634c1.229-2.303,52.765-42.803,54.852-45.077
	c0.222-17.536-29.962-49.976-23.984-51.111C231.202,83.933,250.606,79.377,250.606,79.377z" />
                    <path id="path1975_1_" inkscape:connector-curvature="0" fill="#95DE11" d="M319.989,217.106h9.499l-9.917,11.475v4.142h16.263
	v-3.952h-10.068l9.727-11.437v-4.18h-15.503V217.106z" />
                    <path id="path1977_1_" inkscape:connector-curvature="0" fill="#95DE11" fill-opacity="0.9412" d="M340.85,218.55
	c1.71-1.292,3.876-2.128,6.042-2.128c3.001,0,4.407,1.064,4.407,4.218h-2.812c-2.128,0-4.636,0.19-6.573,1.14
	c-1.938,0.95-3.344,2.66-3.344,5.585c0,3.724,3.382,5.813,6.84,5.813c2.316,0,4.863-1.216,6.041-3.382h0.076
	c0.037,0.608,0.037,1.9,0.229,2.926h4.482c-0.113-1.52-0.189-2.888-0.228-4.37c-0.038-1.444-0.075-2.926-0.075-4.901v-2.508
	c0-5.776-2.471-8.246-8.436-8.246c-2.166,0-4.826,0.57-6.803,1.482L340.85,218.55z M343.434,227.061
	c0-3.001,3.382-3.381,5.662-3.381h2.203c0,1.52-0.229,2.926-1.063,4.027c-0.798,1.064-2.014,1.748-3.571,1.748
	C344.84,229.455,343.434,228.733,343.434,227.061z" />
                    <path id="path1979_1_" inkscape:connector-curvature="0" sodipodi:nodetypes="ccccccccccccc"
                        fill="#95DE11" d="M360.139,217.106
	h9.5l-3.181,3.68l-6.737,7.795v4.142h16.264v-3.952h-5.9h-4.17l9.729-11.437v-4.18h-15.504V217.106z" />
                    <path id="path1981_1_" inkscape:connector-curvature="0" fill="#95DE11" d="M397.946,213.154h-5.092v9.575
	c0,2.508-0.798,6.498-4.483,6.498c-3.268,0-3.307-3.229-3.307-5.624v-10.449h-5.091v12.349c0,4.408,2.014,7.675,6.649,7.675
	c2.66,0,4.863-1.216,6.422-3.116h0.075v2.66h4.826V213.154z" />
                    <path id="path1983_1_" inkscape:connector-curvature="0" fill="#95DE11"
                        d="M403.202,232.723h5.319v-5.319h-5.319V232.723z" />
                    <path id="path1956_1_" inkscape:connector-curvature="0" fill="#2F383C" d="M416.15,225.827c0-1.891,0.893-4.307,3.15-4.307
	c2.285,0,2.916,2.495,2.916,4.307c0,1.864-0.656,4.385-2.968,4.385C416.912,230.212,416.15,227.744,416.15,225.827z
	 M412.605,232.628h3.414v-1.654h0.052c1.024,1.444,2.653,1.969,4.149,1.969c4.148,0,5.672-3.414,5.672-7.116
	c0-3.729-1.523-7.038-5.672-7.038c-1.838,0-3.072,0.762-4.044,2.048h-0.053v-7.904h-3.519V232.628z" />
                    <path id="path1958_1_" inkscape:connector-curvature="0" fill="#2F383C" d="M431.153,224.541c0.157-1.812,1.155-3.178,3.124-3.178
	c1.971,0,2.758,1.471,2.863,3.178H431.153z M439.504,229.004c-1.312,0.735-2.783,1.366-4.49,1.366c-2.18,0-3.703-1.234-3.86-3.414
	h9.349c0-4.727-1.418-8.167-6.434-8.167c-4.202,0-6.276,3.23-6.276,7.143c0,4.438,2.601,7.011,7.063,7.011
	c1.891,0,3.361-0.367,4.648-1.077V229.004z" />
                    <path id="path1960_1_" inkscape:connector-curvature="0" fill="#2F383C" d="M443.354,232.628h3.519v-4.963
	c0-1.943,0-5.515,2.863-5.515c0.629,0,1.26,0.105,1.575,0.289v-3.545c-0.368-0.105-0.735-0.105-1.077-0.105
	c-2.1,0-3.545,2.127-3.702,3.388h-0.053v-3.073h-3.125V232.628z" />
                    <path id="path1962_1_" inkscape:connector-curvature="0" fill="#2F383C"
                        d="M453.561,232.628h3.52v-19.695h-3.52V232.628z" />
                    <path id="path1964_1_" inkscape:connector-curvature="0" fill="#2F383C" d="M460.844,232.628h3.52v-13.524h-3.52V232.628z
	 M460.844,216.636h3.52v-3.361h-3.52V216.636z" />
                    <path id="path1966_1_" inkscape:connector-curvature="0" fill="#2F383C" d="M468.049,232.628h3.519v-6.618
	c0-1.733,0.551-4.49,3.099-4.49c2.258,0,2.284,2.232,2.284,3.887v7.221h3.52v-8.534c0-3.046-1.393-5.305-4.596-5.305
	c-1.839,0-3.335,0.604-4.438,2.153h-0.052v-1.838h-3.335V232.628z" />
                    <path id="path1975-8_1_" inkscape:connector-curvature="0" fill="#95DE11" d="M257.133,628.23h9.198l-9.603,11.111v4.01h15.747
	v-3.826h-9.75l9.419-11.074v-4.047h-15.011V628.23z" />
                    <path id="path1977-1_1_" inkscape:connector-curvature="0" fill="#95DE11" fill-opacity="0.9412" d="M277.332,629.629
	c1.656-1.252,3.753-2.061,5.85-2.061c2.907,0,4.268,1.029,4.268,4.084h-2.723c-2.06,0-4.489,0.184-6.365,1.104
	c-1.876,0.92-3.238,2.576-3.238,5.408c0,3.605,3.275,5.629,6.623,5.629c2.244,0,4.709-1.176,5.85-3.273h0.073
	c0.037,0.588,0.037,1.84,0.221,2.832h4.341c-0.11-1.471-0.184-2.795-0.221-4.23c-0.037-1.398-0.074-2.834-0.074-4.746v-2.428
	c0-5.594-2.391-7.984-8.168-7.984c-2.097,0-4.672,0.551-6.586,1.434L277.332,629.629z M279.834,637.869
	c0-2.906,3.274-3.273,5.482-3.273h2.134c0,1.471-0.221,2.832-1.03,3.9c-0.772,1.029-1.95,1.691-3.458,1.691
	C281.195,640.188,279.834,639.488,279.834,637.869z" />
                    <path id="path1979-3_1_" inkscape:connector-curvature="0" sodipodi:nodetypes="ccccccccccccc"
                        fill="#95DE11" d="M296.01,628.23
	h9.198l-3.08,3.562l-6.523,7.549v4.01h15.748v-3.826h-5.713h-4.037l9.419-11.074v-4.047H296.01V628.23z" />
                    <path id="path1981-0_1_" inkscape:connector-curvature="0" fill="#95DE11" d="M332.619,624.404h-4.93v9.271
	c0,2.428-0.773,6.291-4.342,6.291c-3.164,0-3.201-3.127-3.201-5.445v-10.117h-4.93v11.957c0,4.268,1.95,7.432,6.438,7.432
	c2.576,0,4.709-1.176,6.218-3.016h0.073v2.574h4.673V624.404z" />
                    <path id="path1983-8_1_" inkscape:connector-curvature="0" fill="#95DE11"
                        d="M337.708,643.352h5.15v-5.15h-5.15V643.352z" />
                    <path id="path1956-6_1_" inkscape:connector-curvature="0" display="none" fill="#2F383C" d="M350.245,636.676
	c0-1.832,0.865-4.17,3.051-4.17c2.213,0,2.824,2.414,2.824,4.17c0,1.805-0.637,4.246-2.875,4.246
	C350.983,640.922,350.245,638.531,350.245,636.676z M346.813,643.262h3.305v-1.604h0.051c0.992,1.398,2.568,1.908,4.018,1.908
	c4.018,0,5.492-3.307,5.492-6.891c0-3.611-1.475-6.814-5.492-6.814c-1.779,0-2.975,0.736-3.916,1.982h-0.051v-7.654h-3.406V643.262z
	" />
                    <path id="path1958-2_1_" inkscape:connector-curvature="0" display="none" fill="#2F383C" d="M364.772,635.43
	c0.154-1.756,1.119-3.078,3.027-3.078c1.906,0,2.67,1.426,2.771,3.078H364.772z M372.858,639.752
	c-1.27,0.711-2.695,1.322-4.348,1.322c-2.109,0-3.584-1.195-3.738-3.307h9.053c0-4.576-1.373-7.906-6.229-7.906
	c-4.07,0-6.078,3.127-6.078,6.916c0,4.297,2.518,6.789,6.84,6.789c1.83,0,3.254-0.355,4.5-1.043V639.752z" />
                    <path id="path1960-9_1_" inkscape:connector-curvature="0" display="none" fill="#2F383C" d="M376.589,643.262h3.406v-4.807
	c0-1.881,0-5.34,2.771-5.34c0.611,0,1.221,0.102,1.525,0.279v-3.432c-0.355-0.102-0.711-0.102-1.041-0.102
	c-2.035,0-3.434,2.059-3.586,3.279h-0.051v-2.975h-3.025V643.262z" />
                    <path id="path1962-1_1_" inkscape:connector-curvature="0" display="none" fill="#2F383C" d="M386.472,643.262h3.406v-19.072h-3.406
	V643.262z" />
                    <path id="path1964-4_1_" inkscape:connector-curvature="0" display="none" fill="#2F383C" d="M393.522,643.262h3.408v-13.096h-3.408
	V643.262z M393.522,627.775h3.408v-3.254h-3.408V627.775z" />
                    <path id="path1966-1_1_" inkscape:connector-curvature="0" display="none" fill="#2F383C" d="M400.499,643.262h3.406v-6.408
	c0-1.678,0.535-4.348,3.002-4.348c2.186,0,2.211,2.16,2.211,3.762v6.994h3.408v-8.266c0-2.949-1.348-5.135-4.449-5.135
	c-1.781,0-3.23,0.584-4.299,2.084h-0.051v-1.779h-3.229V643.262z" />
                    <path id="path836_1_" inkscape:connector-curvature="0" fill="#2F383C"
                        d="M349.247,643.496h3.967l2.854-10.191h0.053l2.904,10.191
	h4.096l4.098-13.355h-3.318l-2.775,9.881h-0.053l-2.904-9.881h-4.045l-2.697,9.881h-0.051l-2.957-9.881h-3.682L349.247,643.496z" />
                    <path id="path838_1_" inkscape:connector-curvature="0" fill="#2F383C" d="M369.362,643.496h3.475v-13.355h-3.475V643.496z
	 M369.362,627.703h3.475v-3.318h-3.475V627.703z" />
                    <path id="path840_1_" inkscape:connector-curvature="0" fill="#2F383C" d="M376.476,643.496h3.475v-6.535
	c0-1.711,0.545-4.434,3.061-4.434c2.229,0,2.256,2.203,2.256,3.838v7.131h3.475v-8.428c0-3.008-1.375-5.238-4.539-5.238
	c-1.814,0-3.293,0.596-4.381,2.127h-0.053v-1.816h-3.293V643.496z" />
                    <path id="path842_1_" inkscape:connector-curvature="0" fill="#2F383C" d="M391.757,632.838h6.482l-6.768,7.83v2.828h11.1v-2.697
	h-6.873l6.639-7.805v-2.854h-10.58V632.838z" />
                    <path id="path844_1_" inkscape:connector-curvature="0" fill="#2F383C" d="M407.757,635.508c0.156-1.789,1.141-3.137,3.086-3.137
	s2.723,1.451,2.826,3.137H407.757z M416.003,639.916c-1.297,0.727-2.748,1.35-4.434,1.35c-2.152,0-3.656-1.219-3.812-3.371h9.23
	c0-4.668-1.4-8.064-6.352-8.064c-4.15,0-6.199,3.189-6.199,7.053c0,4.383,2.568,6.924,6.977,6.924c1.867,0,3.318-0.363,4.59-1.062
	V639.916z" />
                    <path id="path846_1_" inkscape:connector-curvature="0" fill="#2F383C"
                        d="M419.806,643.496h3.475v-19.449h-3.475V643.496z" />
                    <path id="path848_1_" inkscape:connector-curvature="0" fill="#2F383C" d="M426.919,643.496h3.475v-6.535
	c0-1.711,0.545-4.434,3.061-4.434c2.23,0,2.256,2.203,2.256,3.838v7.131h3.475v-8.428c0-3.008-1.375-5.238-4.537-5.238
	c-1.816,0-3.295,0.596-4.383,2.127h-0.053v-1.816h-3.293V643.496z" />
                    <circle fill="#5C2466" cx="240.458" cy="656.026" r="9.25" />
                    <circle fill="#10A1C7" cx="497.437" cy="241.772" r="10" />
                </svg>
            </div>
            <!--Footer right-->
            <div class="footerRight">
                <nav id="footerNav">
                    <ul class="footerNavigation">
                        <f:comment>Footer Menu for 3 Levels plus Home on Top as separate dataProcessor jsutHome
                        </f:comment>
                        <f:for each="{justHome}" as="itemH">
                            <li class="level1{f:if(condition:'{itemH.current}',then:' current')}">
                                <a href="{itemH.link}" target="_top" title="{itemH.title}">
                                    {itemH.title}
                                </a>
                            </li>
                        </f:for>
                        <f:comment>Level 1</f:comment>
                        <f:for each="{menuFooter}" as="footerItem">
                            <li class="level1{f:if(condition:'{footerItem.current}',then:' current')}">
                                <a href="{footerItem.link}" target="_top" title="{footerItem.title}">
                                    {footerItem.title}
                                </a>
                            </li>
                            <f:comment>Level 2</f:comment>
                            <f:if condition="{footerItem.children}">
                                <f:for each="{footerItem.children}" as="child">
                                    <li class="level2{f:if(condition: child.current, then:' current')}">
                                        <a href="{child.link}" target="_top" title="{child.title}">
                                            {child.title}
                                        </a>
                                    </li>
                                    <f:comment>Level 3</f:comment>
                                    <f:if condition="{child.children}">
                                        <f:for each="{child.children}" as="childOf2">
                                            <li class="level3{f:if(condition: childOf2.current, then:' current')}">
                                                <a href="{childOf2.link}" target="_top" title="{childOf2.title}">
                                                    {childOf2.title}
                                                </a>
                                            </li>
                                        </f:for>
                                    </f:if>
                                </f:for>
                            </f:if>
                        </f:for>
                    </ul>
                </nav>
            </div>
            <!--meta Nav-->
            <ul id="metaNav">
                <f:for each="{menuMeta}" as="metaItem">
                    <li class="metaLi{f:if(condition:'{metaItem.current}',then:' current')}">
                        <a href="{metaItem.link}" target="_top" title="{metaItem.title}">
                            {metaItem.title}
                        </a>
                    </li>
                </f:for>
            </ul>
        </div>
    </footer>
    <div id="socialMedia" class="wrapper clearfix">
        <div class="center">
            <div class="share">
                <p>
                    <f:translate key="LLL:EXT:xzzxpackage/Resources/Private/Language/locallang_fe.xlf:templates.page.default.shariffShare" />
                </p>
                <f:render partial="Shariff" />
            </div>
            <div class="visitUs">
                <p>
                    <f:translate
                        key="LLL:EXT:xzzxpackage/Resources/Private/Language/locallang_fe.xlf:templates.page.default.visitUs" />
                </p>
                <ul class="visitOurSocialMedia">
                    <li class="linkedin">
                    <a href="" title="<f:translate key='LLL:EXT:xzzxpackage/Resources/Private/Language/locallang_fe.xlf:templates.page.default.linkedinUs' />" targt="_blank" rel="nofollow"><span class="fab fa-linkedin-in"></span></a>
                    </li>
                    <li class="xing">
                    <a href="" title="<f:translate key='LLL:EXT:xzzxpackage/Resources/Private/Language/locallang_fe.xlf:templates.page.default.xingUs' />"
                    targt="_blank" rel="nofollow"><span class="fab fa-xing"></span></a>
                    </li>
                    <li class="twitter">
                    <a href="" title="<f:translate key='LLL:EXT:xzzxpackage/Resources/Private/Language/locallang_fe.xlf:templates.page.default.twitterUs' />"
                    targt="_blank" rel="nofollow"><span class="fab fa-twitter"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<!--jquery should be on top of all js-->
    <script src="{f:uri.resource(path:'JavaScript/Min/jquery-3.3.1.min.js', extensionName:'xzzxpackage', absolute: '0')}"></script>
</f:section>
