<f:layout name="Default" />

<f:section name="Main">
    <main>
        <div class="container">
            <p>&nbsp;</p>   <p>&nbsp;</p>   <p>&nbsp;</p>
            <div class="row">
                <div class="col-md-4">
                        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />
                </div>
                <div class="col-md-4">
                        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '2'}" />
                </div>
            </div>
        </div>
    </main>
    <!--jquery should be on top of all js-->
    <script src="{f:uri.resource(path:'JavaScript/Min/jquery-3.3.1.min.js', extensionName:'xzzxpackage', absolute: '0')}"></script>
</f:section>
