<header id="mainHeader" class="wrapper clearfix">
    <div class="center">
        <figure id="logoContainer">
            <a href="index.php?id=1" title="Hier kommen Sie zur Startseite.">
                    <svg id="logo" version="1.1"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                    x="0px" y="0px" width="309px" height="41px" viewBox="0 0 309 41"
                    overflow="visible" enable-background="new -0.1 243.1 309 41" xml:space="preserve">
               <defs>
               </defs>
               <path fill="#95DE11" d="M0.8,8.5h18.1L0,30.3v7.9h31v-7.5H11.8L30.4,8.9v-8H0.8V8.5z"/>
               <path fill="#95DE11" fill-opacity="0.9412" d="M40.5,11.2c3.3-2.5,7.4-4.1,11.5-4.1c5.7,0,8.4,2,8.4,8H55c-4.1,0-8.8,0.4-12.5,2.2
                   c-3.7,1.8-6.4,5.1-6.4,10.7c0,7.1,6.4,11.1,13,11.1c4.4,0,9.3-2.3,11.5-6.4h0.1c0.1,1.2,0.1,3.6,0.4,5.6h8.6
                   c-0.2-2.9-0.4-5.5-0.4-8.3c-0.1-2.8-0.1-5.6-0.1-9.3v-4.8c0-11-4.7-15.7-16.1-15.7c-4.1,0-9.2,1.1-13,2.8L40.5,11.2z M45.4,27.4
                   c0-5.7,6.4-6.4,10.8-6.4h4.2c0,2.9-0.4,5.6-2,7.7c-1.5,2-3.8,3.3-6.8,3.3C48.1,32,45.4,30.6,45.4,27.4L45.4,27.4z"/>
               <path fill="#95DE11" d="M77.2,8.5h18.1l-6.1,7L76.4,30.3v7.9h31v-7.5H88.3l18.6-21.8v-8H77.2V8.5z"/>
               <path fill="#95DE11" d="M149.3,0.9h-9.7v18.3c0,4.8-1.5,12.4-8.6,12.4c-6.2,0-6.3-6.2-6.3-10.7V0.9h-9.7v23.6
                   c0,8.4,3.8,14.6,12.7,14.6c5.1,0,9.3-2.3,12.2-5.9h0.1v5.1h9.2V0.9z"/>
               <path fill="#95DE11" d="M158.3,38.2h10.1V28.1h-10.1V38.2z"/>
               <path fill="#2F383C" d="M183,25.2c0-3.7,1.7-8.4,6.2-8.4c4.5,0,5.7,4.9,5.7,8.4c0,3.6-1.3,8.6-5.8,8.6C184.5,33.8,183,29,183,25.2z
                    M176.1,38.5h6.7v-3.2h0.1c2,2.8,5.2,3.8,8.1,3.8c8.1,0,11.1-6.7,11.1-13.9c0-7.3-3-13.8-11.1-13.8c-3.6,0-6,1.5-7.9,4H183V0h-6.9
                   V38.5z"/>
               <path fill="#2F383C" d="M212.4,22.7c0.3-3.5,2.3-6.2,6.1-6.2c3.9,0,5.4,2.9,5.6,6.2H212.4z M228.7,31.4c-2.6,1.4-5.4,2.7-8.8,2.7
                   c-4.3,0-7.2-2.4-7.5-6.7h18.3c0-9.2-2.8-16-12.6-16c-8.2,0-12.3,6.3-12.3,14c0,8.7,5.1,13.7,13.8,13.7c3.7,0,6.6-0.7,9.1-2.1V31.4z"
                   />
               <path fill="#2F383C" d="M236.2,38.5h6.9v-9.7c0-3.8,0-10.8,5.6-10.8c1.2,0,2.5,0.2,3.1,0.6v-6.9c-0.7-0.2-1.4-0.2-2.1-0.2
                   c-4.1,0-6.9,4.2-7.2,6.6h-0.1v-6h-6.1V38.5z"/>
               <path fill="#2F383C" d="M256.2,38.5h6.9V0h-6.9V38.5z"/>
               <path fill="#2F383C" d="M270.4,38.5h6.9V12.1h-6.9V38.5z M270.4,7.2h6.9V0.7h-6.9V7.2z"/>
               <path fill="#2F383C" d="M284.5,38.5h6.9V25.6c0-3.4,1.1-8.8,6.1-8.8c4.4,0,4.5,4.4,4.5,7.6v14.1h6.9V21.8c0-6-2.7-10.4-9-10.4
                   c-3.6,0-6.5,1.2-8.7,4.2H291v-3.6h-6.5V38.5z"/>
               </svg>
            </a>
        </figure>
        <div id="mainMenuBox">
            <div id="headerContact">
                <a href="tel:+49307859279">+49 30 785 9279</a><br>
                <a href="mailto:info@zazu.berlin">info@zazu.berlin</a>
            </div>

            <nav id="mainMenu">
                <input type="checkbox" id="hamburger" />
                <label for="hamburger" class="hamburger">
                    <span class="hamburgerLine"></span>
                    <span class="hamburgerLine"></span>
                    <span class="hamburgerLine"></span>
                </label>

                <f:comment>Menu for 3 Levels plus Home on Top as separate dataProcessor jsutHome</f:comment>
                <ul id="mainMenuList">
                    <f:for each="{justHome}" as="itemH">
                        <li class="level1{f:if(condition: itemH.current, then:' current')}">
                            <a href="{itemH.link}" target="_top" title="{itemH.title}">
                                {itemH.title}
                            </a>
                        </li>
                    </f:for>

                    <f:comment>assign label to input with unique numbers</f:comment>
                    <f:variable name="counter" value="0" />

                    <f:for each="{menuMain}" as="mainnavigationItem">
                        <li
                            class="level1{f:if(condition: mainnavigationItem.current, then:' current')}{f:if(condition: mainnavigationItem.active, then:' active')}{f:if(condition: mainnavigationItem.children, then:' plus')}">
                            <f:if condition="{mainnavigationItem.children}">
                                <f:then>
                                    <f:comment>level-1-children-yes</f:comment>

                                    <f:variable name="counter" value="{counter+1}" />
                                    <input type="checkbox" id="drop-{counter}" />
                                    <label for="drop-{counter}" class="toggle"></label>
                                    <a href="{mainnavigationItem.link}" target="_top"
                                        title="{mainnavigationItem.title}">
                                        {mainnavigationItem.title}
                                    </a>

                                    <ul>
                                        <f:for each="{mainnavigationItem.children}" as="child">
                                            <li
                                                class="level2{f:if(condition: child.current, then:' current')}{f:if(condition: child.active, then:' active')}{f:if(condition: child.children, then:' plus')}">
                                                <f:if condition="{child.children}">
                                                    <f:then>
                                                        <f:comment>level-2-children-yes</f:comment>

                                                        <f:variable name="counter" value="{counter+1}" />
                                                        <input type="checkbox" id="drop-{counter}" />
                                                        <label for="drop-{counter}" class="toggle"></label>
                                                        <a href="{child.link}" target="_top" title="{child.title}">
                                                            {child.title}
                                                        </a>

                                                        <f:comment>level-3 is just-children of level-2 - - no level 4
                                                        </f:comment>
                                                        <ul>
                                                            <f:for each="{child.children}" as="childOf2">
                                                                <li
                                                                    class="level3{f:if(condition: childOf2.current, then:' current')}">
                                                                    <a href="{childOf2.link}" target="_top"
                                                                        title="{childOf2.title}">
                                                                        {childOf2.title}
                                                                    </a>
                                                                </li>
                                                            </f:for>
                                                        </ul>

                                                    </f:then>
                                                    <f:else>
                                                        <f:comment>level-2-children-no</f:comment>

                                                        <a href="{child.link}" target="_top" title="{child.title}">
                                                            {child.title}
                                                        </a>

                                                    </f:else>
                                                </f:if>
                                            </li>
                                        </f:for>
                                    </ul>

                                </f:then>
                                <f:else>
                                    <f:comment>level-1-children-no</f:comment>

                                    <a href="{mainnavigationItem.link}" target="_top" title="{mainnavigationItem.title}">
                                        {mainnavigationItem.title}
                                    </a>

                                </f:else>
                            </f:if>
                        </li>
                    </f:for>
                </ul>
            </nav>

        </div>
    </div>
</header>

<f:render section="Main" />
