<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers" data-namespace-typo3-fluid="true">
<!--
  =====================
    Partials/List/ItemLatest.html
      changed zazu 20170329
-->
<div class="news-latest-item" itemscope="itemscope" itemtype="http://schema.org/Article">
  <n:excludeDisplayedNews newsItem="{newsItem}" />

  <!-- date -->
  <div class="news-latest-date">
    <time itemprop="datePublished" datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
      <f:format.date format="d-m-Y">{newsItem.datetime}</f:format.date>
    </time>
  </div>

  <div class="news-latest-text">
    <!-- header latest-->
    <div class="header">
      <h4>
        <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
          <span itemprop="headline">{newsItem.title}</span>
        </n:link>
      </h4>
    </div>

    <!-- teaser latest-->
    <div class="news-latest-teaser">
      <f:if condition="{newsItem.teaser}">
        <f:then>
          <div itemprop="description">{newsItem.teaser -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1', append:'&nbsp;...') -> f:format.html()}</div>
        </f:then>
        <f:else>
          <div itemprop="description">{newsItem.bodytext -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1', append:'&nbsp;...') -> f:format.html()}</div>
        </f:else>
      </f:if>

      <n:link newsItem="{newsItem}" settings="{settings}" class="more" title="{newsItem.title}">
        <f:translate key="more-link" />
      </n:link>
    </div>

  </div><!--end txt-->
  <hr class="clear" />
</div>


</html>