<!--DCE33 3col icon text-->
<div class="d33 clearfix wrapper center">
    <div id="box">
        <div class="row1">
            <div class="icons" id="svg1">
                <f:format.raw>{field.icon1}</f:format.raw>
            </div>
            <div class="icons" id="svg2">
                <f:format.raw>{field.icon2}</f:format.raw>
            </div>
            <div class="icons" id="svg3">
                <f:format.raw>{field.icon3}</f:format.raw>
            </div>
        </div>
        <div class="row2">
            <div class="text" id="txt1">
                <f:format.html>{field.txt1}</f:format.html>
            </div>
            <div class="text" id="txt2">
                <f:format.html>{field.txt2}</f:format.html>
            </div>
            <div class="text" id="txt3">
                <f:format.html>{field.txt3}</f:format.html>
            </div>
        </div>
    </div>
</div><!-- END DCE33-->
